<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 指向Dao接口 -->
<mapper namespace="com.goldcow.emanage.product.persist.ProPriceTagDao">
	<!-- 获取用户 -->
	<select id="get" parameterType="Integer" resultType="ProPriceTag">
		select *
		from pro_priceTag
		where priceTag_id = #{id}
		and status = 0
	</select>
	
		<!-- 分页查询 ，返回List<HashMap>对象， -->
	<select id="list" parameterType="map" resultType="ProPriceTag">
			select *
			from pro_priceTag
		<where>
			<if test="bean.priceTag_id!=null">
			and priceTag_id like #{bean.priceTag_id}
			</if>
			<if test="bean.product_id!=null">
			and product_id like #{bean.product_id}
			</if>
			<if test="bean.product_code!=null">
			and product_code like #{bean.product_code}
			</if>
			<if test="bean.product_name!=null">
			and product_name like #{bean.product_name}
			</if>
			<if test="bean.product_specification!=null">
			and product_specification like #{bean.product_specification}
			</if>
			<if test="bean.product_unit!=null">
			and product_unit like #{bean.product_unit}
			</if>
			<if test="bean.product_dosagetype!=null">
			and product_dosagetype like #{bean.product_dosagetype}
			</if>
			<if test="bean.product_productarea!=null">
			and product_productarea like #{bean.product_productarea}
			</if>
			<if test="bean.product_retailprice!=null">
			and product_retailprice like #{bean.product_retailprice}
			</if>
			<if test="bean.product_memberprice!=null">
			and product_memberprice like #{bean.product_memberprice}
			</if>
			<if test="bean.priceTag_createTime!=null">
			and priceTag_createTime like #{bean.priceTag_createTime}
			</if>
			<if test="bean.priceTag_operator!=null">
			and priceTag_operator like #{bean.priceTag_operator}
			</if>
			<if test="bean.product_othercategory!=null">
			and product_othercategory like #{bean.product_othercategory}
			</if>
			<if test="bean.department_id!=null">
			and department_id like #{bean.department_id}
			</if>
			<if test="start_time != null">
			and DATEDIFF(day, priceTag_createTime , #{start_time})&lt; 0
			</if>
			<if test="end_time != null">
			and DATEDIFF(day, priceTag_createTime , #{end_time})&gt; 0
			</if>
		</where>
		<if test="bean.sort != null and bean.order != null">
			order by ${bean.sort} ${bean.order}
		</if>
	</select>


	<!-- 查询数据条数，直接返回int类型条数 -->
	<select id="count" parameterType="ProPriceTag" resultType="int">
		select count(priceTag_id) as count 
		from pro_priceTag
		<where>
			<if test="priceTag_id!=null">
			and priceTag_id like #{priceTag_id}
			</if>
			<if test="product_id!=null">
			and product_id like #{product_id}
			</if>
			<if test="product_code!=null">
			and product_code like #{product_code}
			</if>
			<if test="product_name!=null">
			and product_name like #{product_name}
			</if>
			<if test="product_specification!=null">
			and product_specification like #{product_specification}
			</if>
			<if test="product_unit!=null">
			and product_unit like #{product_unit}
			</if>
			<if test="product_dosagetype!=null">
			and product_dosagetype like #{product_dosagetype}
			</if>
			<if test="product_productarea!=null">
			and product_productarea like #{product_productarea}
			</if>
			<if test="product_retailprice!=null">
			and product_retailprice like #{product_retailprice}
			</if>
			<if test="product_memberprice!=null">
			and product_memberprice like #{product_memberprice}
			</if>
			<if test="priceTag_createTime!=null">
			and priceTag_createTime like #{priceTag_createTime}
			</if>
			<if test="priceTag_operator!=null">
			and priceTag_operator like #{priceTag_operator}
			</if>
			<if test="product_othercategory!=null">
			and product_othercategory like #{product_othercategory}
			</if>
			<if test="department_id!=null">
			and department_id like #{department_id}
			</if>
		</where>
	</select>
	
	<!-- 向表中插入数据，并在将主键值赋到实体中，返回受影响的记录条数。如果不需要返回主键，无需配置useGeneratedKeys、keyProperty项 -->
	<insert id="add" parameterType="ProPriceTag" useGeneratedKeys="true" keyProperty="priceTag_id">
		 insert into pro_priceTag(
		product_id, product_code, product_name, product_specification, product_unit, 
		product_dosagetype, product_productarea, product_retailprice, product_memberprice, priceTag_createTime, 
		priceTag_operator, product_othercategory, department_id)
		values(
		#{product_id}, #{product_code}, #{product_name}, #{product_specification}, #{product_unit}, 
		#{product_dosagetype}, #{product_productarea}, #{product_retailprice}, #{product_memberprice}, #{priceTag_createTime}, 
		#{priceTag_operator}, #{product_othercategory}, #{department_id});
	</insert>


	<!-- 更新表中数据，返回受影响的记录条数 -->
	<update id="update" parameterType="ProPriceTag">
		 update pro_priceTag
		<set>
			<if test="product_id != null">
			product_id = #{product_id},
			</if>
			<if test="product_code != null">
			product_code = #{product_code},
			</if>
			<if test="product_name != null">
			product_name = #{product_name},
			</if>
			<if test="product_specification != null">
			product_specification = #{product_specification},
			</if>
			<if test="product_unit != null">
			product_unit = #{product_unit},
			</if>
			<if test="product_dosagetype != null">
			product_dosagetype = #{product_dosagetype},
			</if>
			<if test="product_productarea != null">
			product_productarea = #{product_productarea},
			</if>
			<if test="product_retailprice != null">
			product_retailprice = #{product_retailprice},
			</if>
			<if test="product_memberprice != null">
			product_memberprice = #{product_memberprice},
			</if>
			<if test="priceTag_createTime != null">
			priceTag_createTime = #{priceTag_createTime},
			</if>
			<if test="priceTag_operator != null">
			priceTag_operator = #{priceTag_operator},
			</if>
			<if test="product_othercategory != null">
			product_othercategory = #{product_othercategory},
			</if>
			<if test="department_id != null">
			department_id = #{department_id},
			</if>
	</set>where priceTag_id = #{priceTag_id}
	</update>



	<!-- 删除表中数据 -->
	<delete id="delete" parameterType="Integer">
		delete from  pro_priceTag
		where priceTag_id = #{id}
	</delete>
	
	<!-- 查询指定品种 -->
	<select id="querySpecifyProduct" parameterType="map" resultType="ProPriceTag">
		select *
		from pro_priceTag as pp, pro_infoManage as pi
		<where>
			pp.product_id = pi.product_id
			<if test="start_time != null">
			and DATEDIFF(day, pp.priceTag_createTime , #{start_time})&lt; 0
			</if>
			<if test="end_time != null">
			and DATEDIFF(day, pp.priceTag_createTime , #{end_time})&gt; 0
			</if>
			<if test="department_id != null">
			and pp.department_id = #{department_id}
			</if>
			<if test="medinsuvariety != null">
			and pi.product_medinsuvariety = #{medinsuvariety}
			</if>
		</where> 
	</select>
	
</mapper> 